/* 
Información general:
--------------------
Descripcion: Estilos CSS propios para el proyecto.
Fecha de creacion: 10/07/2015
Ultima fecha de modificacion: 10/07/2015
Versión: 0.1
*/


/*============================ footer =======================================*/
footer{
	margin-top:45px; 
	background-color:rgba(221, 221, 221, 0.2); 
	padding:5px 15px; 
	color:#B8B8B8;
}
footer a {
	color:rgba(90, 190, 190, 1);
}
footer p {
	font-size: 0.8em;
}
/*========================= fin footer =======================================*/